@import 'global';
@import 'animations';

@media (min-width: 1024px){
	.title {
		padding:0;
		margin: 0;
		font-size: 3.375rem;
		font-weight: bold;
		letter-spacing: 0.03em;
	}

.container {
	background-color: $bg;
	display: flex;
	height:100vh;
	position: relative;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}

.iconSection{
display: flex;
justify-content: center;
flex-direction: column;
}

ion-icon {
	display: flex;
	width: 1rem;
	height: 1rem;
  color: $white;
	align-items: center;
	margin: auto;
}

.tilt img {
	animation-duration: 1.5s;
	animation-name: opacity;
}

.column{
	position:relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	min-width: 13rem;
	width:22rem;
	flex-wrap: wrap;
}

h2{
	margin:0;
}

.heading{
	display: flex;
	flex-direction: column;
	position: sticky;
	align-self: center;
	padding-right: 11rem;
}

ul li {
	/* top right bottom left */
	margin: 1.5em 2em 0em 5em;
	transition: all .2s ease-in-out;
}

.trDot {
	position: absolute;
	right: 5%;
	top: 5%;
	transform:scale(1.5, 1.5);

}

.brDot {
	position: absolute;
	bottom: 5%;
	right: 5%;
	transform:scale(1.5, 1.5) rotate(90deg);
}

/* top left triangle */
.tlDot {
	position: absolute;
	left: 5%;
	top: 5%;
	transform:scale(1.5, 1.5) rotate(270deg);
}

/* bottom left triangle */
.blDot {
	position: absolute;
	left: 5%;
	bottom: 5%;
	transform:scale(1.5, 1.5) rotate(180deg);
}

.backButton{
	font-weight: 800;
	list-style: none;
}

.content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
}

