@keyframes opacity{
	from {
		transform: scale(0,0);
		opacity: 0;
	}
}

//letting the outer dots expand slowly
@keyframes gridExpand{
	from{
		width:70%;
		height:80%;
		opacity:0;
	}
}

//heading animation
@keyframes headingOpacity{
	0%{
		opacity: 0;
		margin-top: 1.5em;
	}
	100%{
		margin-top: 0em;
		opacity: 1;
	}
}

@keyframes grow {
	from {
		height: 0;
		width: 0;
	}
}

//
@keyframes expandFromRight{
	from {
		right:0;
		opacity: 0;
		width: 0;
	}
}

@keyframes scaleNav {
	from {
		transform: scale=0;
	}
}

