@import 'animations';

$white : #c4c4c4;
$bg : #111111;

//Title of page
.title {
	margin: 0;
	font-size: 3.375rem;
	font-weight: bold;
	letter-spacing: 0.03em;
}
//Name
.subtitle {
	margin: 0;
	letter-spacing: 0.03em;
}

//navigation dots removed
.navItem {

	list-style: none;
	animation-name: headingOpacity;
transition-duration: 2s;

}

//tilting the main elements
.tilt {
	display:flex;
	position: absolute;
	align-content: center;
	width: 95%;
	height: 95%;
	z-index: -1;
	background-color: none;
}

//the triangles at the outer edges
.tiltDot{
	display:flex;
	position: absolute;
	align-content: center;
	width: 95%;
	height: 95%;
	z-index: -1;
	background-color: none;
	animation-duration: 2.5s;
	animation-name: gridExpand;
	transition-timing-function: ease-out;
}
