@import 'animations';

//main colours
$white : #c4c4c4;
$bg : #111111;


//description of the page
.subtitle {
	margin: 0;
	letter-spacing: 0.03em;
}

//navigation dots removed
.navItem {
	list-style: none;
}

//tilting the main elements
.tilt {
	display:flex;
	position: absolute;
	align-content: center;
	width: 95%;
	height: 95%;
	z-index: -1;
	background-color: none;
}

//the triangles at the outer edges
.tiltDot{
	display:flex;
	position: absolute;
	align-content: center;
	width: 95%;
	height: 95%;
	z-index: -1;
	background-color: none;
	animation-duration: 2.5s;
	animation-name: gridExpand;
	transition-timing-function: ease-out;
}

//first link of the nav
.flexList li:first-child a{
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 0.75s;
	animation-name: headingOpacity;
	animation-delay:  0.25s;
	transition-timing-function: ease;
	}

//second link of the nav
.flexList li:nth-child(2) a{
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 0.75s;
	animation-name: headingOpacity;
	animation-delay:  0.4s;
	transition-timing-function: ease;
	}

//third link of the nav
.flexList li:nth-child(3) a{
	opacity: 0;
  animation-fill-mode: forwards;
	animation-duration: 0.75s;
	animation-name: headingOpacity;
	animation-delay:  0.6s;
	transition-timing-function: ease;
	}

//title and description
.header{
	opacity: 0;
  animation-fill-mode: forwards;
	animation-duration: 0.75s;
	animation-name: headingOpacity;
	transition-timing-function: ease;
}

//class that makes the outer dots tilt when you move around
.tiltDot {
	display: flex;
	position: absolute;
	align-content: center;
	width: 93%;
	height: 93%;
	z-index: -1;
	background-color: none;
	animation-duration: 2.5s;
	animation-name: gridExpand;
	transition-timing-function: ease-out;
}
