@import 'global';
@import 'animations';

.container {
	background-color: $bg;
	display: flex;
	overflow: auto;
	position: relative;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	z-index: 2;
}


.heading{
	display: flex;
	flex-direction: column;
	position: sticky;
	top:33.45vh;
	align-self: flex-start;

}

.content{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
	margin-top: 15rem;
	margin-bottom:12rem;
}

.column img{
	width:25rem;
	margin: 1rem 1rem 1rem 1rem;
}

.backButton{
	font-weight: 800;
	list-style: none;
}

.trDot {
	position: absolute;
	right: 5%;
	top: 5%;
	transform:scale(1.5, 1.5);

}

// bottom right triangle
.brDot {
	position: absolute;
	bottom: 5%;
	right: 5%;
	transform:scale(1.5, 1.5) rotate(90deg);
}

/* top left triangle */
.tlDot {
	position: absolute;
	left: 5%;
	top: 5%;
	transform:scale(1.5, 1.5) rotate(270deg);
}

/* bottom left triangle */
.blDot {
	position: absolute;
	left: 5%;
	bottom: 5%;
	transform:scale(1.5, 1.5) rotate(180deg);
}


